    body{
        background: linear-gradient(circle at top, #f5f5f5, #dcdcdc);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .island {
        width: 300px;
        height: 50px;

        margin: 5% auto 0;

        display: flex;
        justify-content: center;
        align-items: center;

        background: linear-gradient(
            to bottom,
            rgb(28, 28, 28),
            rgb(5, 5, 5)
        );

        border-radius: 999px;

        border: 1px solid rgba(255, 255, 255, 0.05);

        position: relative;
        overflow: hidden;

        cursor: pointer;

        box-shadow:
            inset 0 1px 1px rgba(255,255,255,0.08),
            0 8px 20px rgba(0,0,0,0.25),
            0 20px 40px rgba(0,0,0,0.18);

        transition:
            width .5s cubic-bezier(.22,1,.36,1),
            height .5s cubic-bezier(.22,1,.36,1),
            transform .2s ease;
    }

    .island::before{
        content: "";
        position: absolute;

        top: 1px;
        left: 10%;
        width: 80%;
        height: 1px;
        background: rgba(255, 255, 255, 0.02);
        border-radius: 999px;
    }

    .island:active{
        transform: scale(0.98);
    }

    .island.expand{
        width: 400px;
    }

    .music{
        width: 650px;
        height: 300px;
        border-radius: 60px;
    }

    .faceid{
        width: 320px;
        height: 300px;
        border-radius: 60px;
    }

    .island:hover{
        box-shadow:
            inset 0 1px 2px rgba(255,255,255,0.08),
            0 12px 30px rgba(0,0,0,0.30),
            0 30px 60px rgba(0,0,0,0.22);

        transform: translateY(-1px);
    }


    .musicButton{
        font-size: 23px;
        border: 2px solid transparent;  
        background: none;
        position: relative;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.6), 2px 3px 5px rgba(0, 0 , 0 , 0.6), 4px 5px 6px rgba(0, 0 , 0 , 0.6);
        border-radius: 30px;
        padding: 10px 12px;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .musicButton:hover{
        transform: translateY(2px);
    
    }

    .faceId:hover{
        transform: translateY(2px);
    }

    .faceId{
        font-size: 23px;
        border: 2px solid transparent;  
        background: none;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.6), 2px 3px 5px rgba(0, 0 , 0 , 0.6), 4px 5px 6px rgba(0, 0 , 0 , 0.6);
        border-radius: 30px;
        padding: 10px 12px;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }


    .buttons{
        gap: 16px;
        display: flex;
        margin-top: 5%;
    }

    .call{
        font-size: 23px;
        border: 2px solid transparent;  
        background: none;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.6), 2px 3px 5px rgba(0, 0 , 0 , 0.6), 4px 5px 6px rgba(0, 0 , 0 , 0.6);
        border-radius: 30px;
        padding: 10px 12px;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .call:hover{
        transform: translateY(2px);
    }

    .call-state{
        width: 600px;
        height: 100px ;
    }


    .musicUI{
        color: black;
        opacity: 0;
        transform: translateY(10px);
        transition: 0.3s ease;
        transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1);
        display: flex;
        align-items: center;
        gap: 14px;
        position: absolute;
        top: 18px;
        left: 30px;

    }

    .music .musicUI{
        color: white;
        opacity: 1;
        transform: translateX(3px), translateY(0);
        
        
    }

img{
    width: 100px;
    height: 100px;
    border-radius: 12px;
    margin-right: 12px;
    margin-bottom: 10px ;
}

.songAlbum{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: "Sego UI", sans-serif;
}

.title{
    font-size: 27px;
    margin: 0;
    animation: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);


}

.artist{
    color: gray;
    font-size: 20px;
    animation: 0.4s cubic-bezier(0.3, 2, 0.35, 0.4);

}


.progressBar{
    display: flex;
    flex-direction: column;
    


}

.progress{
    width: 525px;
    height: 15px;
    background-color: white;
    position: absolute;
    margin: 5px;
    margin-top: 90px;
    margin-left: -280px;
    border-radius: 23px;
   
}
.controls{
    margin: 12px;
    gap: 12px;
    display: flex;
    position: absolute;
    margin-left: -145px;
    margin-top: 135px;
    gap: 30px;
    justify-content: center;


    
}

.btn1,.btn2,.btn3{
    font-size: 40px;
    border: transparent;
    background: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeStart{
    display: flex;
    position: absolute;
    margin-top: 87px;
    margin-left: -325px;
}


.timeEnd{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 88px;
    margin-left: 255px;
}


.visualiser{
    display: flex;
    position: absolute;
    margin-left: 240px;
    margin-top: -45px;
    height: 50px;
    
    align-items: flex-end;
}


.visualiser span{
    height: 50px;
    background: #00ff41;
    width: 4px;
    border-radius: 999px;
    filter: blur(.2px);
    opacity: .9;
    gap: 2px;
    transform-origin: bottom;
    box-shadow: 0  0 2px #00ff41, 0 0 8px rgba(0, 225, 65, 0.5);
    transition: height .1s linear;
} 



.faceID_UI{
    position: relative;
}

.faceID_UI,
.finder{
    opacity: 0;
    transition: opacity .3s ease;
    
}

.faceid .faceID_UI,
.faceid .finder{
    opacity: 1  ;
}


.finder{
    height: 200px;
    width: 200px;
    transition: opacity .2s ease, transform .2s ease;
    
   
}


.ring{
    position: absolute;
    width: 160px;
    height: 160px;
    margin-top: 14px;
    margin-left: 23px;
    transition:  opacity .2s ease, transform .2s ease ;
    animation: scan 1s  linear infinite; 
    opacity: 1;
   
    

}

.ring span{
    position: absolute;
    width: 28px;
    height: 28px;
    border: 5px solid #fff;
    

   
}

.ring span:nth-child(1){
    top: -10px;;
    left:-15px;
    border-right:none;
    border-bottom:none;
    border-radius:20px 0 0 0;
    animation-delay: .1s;
}

.ring span:nth-child(2){
    top:-10px;
    right: -15px;;
    border-left:none;
    border-bottom:none;
    border-radius:0 20px 0 0;
    animation-delay: .2s;
}

.ring span:nth-child(3){
    bottom:-15px;
    left:-20px;
    border-right:none;
    border-top:none;
    border-radius:0 0 0 20px;
    animation-delay: .3s;
}

.ring span:nth-child(4){
    bottom: -15px;
    right:-20px;
    border-left:none;
    border-top:none;
    border-radius:0 0 20px 0;
    animation-delay: .4s;
}

.ring2{
    animation-delay: .4s;
    height: 160px;
    width: 160px;
    opacity: .75;
    opacity: 1;
    animation: invertedScan  linear 1s  infinite;
}



@keyframes scan{
    from {
        transform: rotate(0deg);
      
        
    }

    to{
        transform: rotate(720deg);
    }
   
}

@keyframes invertedScan{
    from {
        transform: rotate(0deg);
        
    }
    
    to{
        transform: rotate(-720deg);
        
    }
   
}

.tick{
    position:absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -109px;
    margin-left: 90px;
    font-size: 300px;


    transform:translate(-50%,-50%) scale(.5);

    color:white;


    font-family:Arial,sans-serif;

    opacity:0;

    z-index:999;

    transition:
        opacity .2s ease,
        transform .25s ease;
}