    body{
        background: linear-gradient(circle at top, #f5f5f5, #dcdcdc);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .island {
        width: 300px;
        height: 50px;

        margin: 5% auto 0;

        display: flex;
        justify-content: center;
        align-items: center;

        background: linear-gradient(
            to bottom,
            rgb(28, 28, 28),
            rgb(5, 5, 5)
        );

        border-radius: 999px;

        border: 1px solid rgba(255, 255, 255, 0.05);

        position: relative;
        overflow: hidden;

        cursor: pointer;

        box-shadow:
            inset 0 1px 1px rgba(255,255,255,0.08),
            0 8px 20px rgba(0,0,0,0.25),
            0 20px 40px rgba(0,0,0,0.18);

        transition:
            width .5s cubic-bezier(.22,1,.36,1),
            height .5s cubic-bezier(.22,1,.36,1),
            transform .2s ease;
    }

    .island::before{
        content: "";
        position: absolute;

        top: 1px;
        left: 10%;
        width: 80%;
        height: 1px;
        background: rgba(255, 255, 255, 0.02);
        border-radius: 999px;
    }

    .island:active{
        transform: scale(0.98);
    }

    .island.expand{
        width: 400px;
    }

    .music{
        width: 650px;
        height: 300px;
        border-radius: 60px;
    }

    .faceid{
        width: 320px;
        height: 300px;
        border-radius: 60px;
    }

    .island:hover{
        box-shadow:
            inset 0 1px 2px rgba(255,255,255,0.08),
            0 12px 30px rgba(0,0,0,0.30),
            0 30px 60px rgba(0,0,0,0.22);

        transform: translateY(-1px);
    }


    .musicButton{
        font-size: 23px;
        border: 2px solid transparent;  
        background: none;
        position: relative;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.6), 2px 3px 5px rgba(0, 0 , 0 , 0.6), 4px 5px 6px rgba(0, 0 , 0 , 0.6);
        border-radius: 30px;
        padding: 10px 12px;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .musicButton:hover{
        transform: translateY(2px);
    
    }

    .faceId:hover{
        transform: translateY(2px);
    }

    .faceId{
        font-size: 23px;
        border: 2px solid transparent;  
        background: none;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.6), 2px 3px 5px rgba(0, 0 , 0 , 0.6), 4px 5px 6px rgba(0, 0 , 0 , 0.6);
        border-radius: 30px;
        padding: 10px 12px;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }


    .buttons{
        gap: 16px;
        display: flex;
        margin-top: 5%;
    }

    .call{
        font-size: 23px;
        border: 2px solid transparent;  
        background: none;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.6), 2px 3px 5px rgba(0, 0 , 0 , 0.6), 4px 5px 6px rgba(0, 0 , 0 , 0.6);
        border-radius: 30px;
        padding: 10px 12px;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .call:hover{
        transform: translateY(2px);
    }

    .call-state{
        width: 600px;
        height: 100px ;
    }


    .musicUI{
        color: black;
        opacity: 0;
        transform: translateY(10px);
        transition: 0.3s ease;
        transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1);
        display: flex;
        align-items: center;
        gap: 14px;
        position: absolute;
        top: 18px;
        left: 30px;

    }

    .music .musicUI{
        color: white;
        opacity: 1;
        transform: translateX(3px), translateY(0);
        
        
    }

img{
    width: 100px;
    height: 100px;
    border-radius: 12px;
    margin-right: 12px;
    margin-bottom: 10px ;
}

.songAlbum{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: "Sego UI", sans-serif;
}

.title{
    font-size: 30px;
    margin: 0;


}

.artist{
    color: gray;
    font-size: 20px;

}


.progressBar{
    display: flex;
    flex-direction: column;
    


}

.progress{
    width: 300px;
    height: 2px;
    background-color: #dcdcdc;
    opacity: 0;
}
.controls{
    margin: 0 auto;
    gap: 12px;
    display: flex;
    opacity: 0;

    
}